# Ignore all files
*.*

# Except
!*.json
!*.js
!*.zip
!*.7z
!*.csv
!*.ain
!*.fnl
!*.ks
!*.tjs
!version.dll
!.gitignore
!patch.bat
!README.md
!ENCG/*

# Images
!10_タイトル10章_文字.rpgmvp
!10_タイトル1章_文字.rpgmvp
!10_タイトル2章_文字.rpgmvp
!10_タイトル3章_文字.rpgmvp
!10_タイトル4章_文字.rpgmvp
!10_タイトル5章_文字.rpgmvp
!10_タイトル6章_文字.rpgmvp
!10_タイトル7章_文字.rpgmvp
!10_タイトル8章_文字.rpgmvp
!10_タイトル9章_文字.rpgmvp
!11_優衣カットイン_H.rpgmvp
!11_優衣カットイン_I.rpgmvp
!11_優衣カットイン_J.rpgmvp
!11_入浴カットイン_A.rpgmvp
!11_入浴カットイン_B.rpgmvp
!11_入浴カットイン_C.rpgmvp
!11_入浴カットイン_D.rpgmvp
!11_拓実カットイン_A.rpgmvp
!11_授業中カットイン_A.rpgmvp
!11_授業中カットイン_B.rpgmvp
!11_授業中カットイン_C.rpgmvp
!11_授業中カットイン_D.rpgmvp
!11_花蓮カットイン_B.rpgmvp
!12_スキルについて_D.rpgmvp
!12_ステータスについてA.rpgmvp
!12_ファストトラベルについて.rpgmvp
!12_必殺技について_A.rpgmvp
!12_ＨなアイテムについてA.rpgmvp
!12_ＨなアイテムについてB.rpgmvp
!Scene_Name_back.rpgmvp!